body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  button {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  pre {
    background: #f4f4f4;
    padding: 10px;
    margin-top: 15px;
  }

  

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 12px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    border-radius: 6px;
  }
  
  .card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
  }
  